<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    
    <bindings>
        <netTcpBinding>
            <binding name="NetTcpBinding_IComponentManager" />
        </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8523/ComponentManager"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComponentManager"
        contract="ComponentManager.IComponentManager" name="NetTcpBinding_IComponentManager">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>